/* 
Pale Green - #BDD4BC
Moss Green - #4F5D2F
Pale Blue - #C1D1E4
Slate Blue - #545E75
Mid Blue - #143F6E
Dark Blue - #05172A
*/

/* General Styling rules used through all the html pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Playfair Display' , serif;
}

html {
    background: linear-gradient(to bottom, #BDD4BC 0%, #ffffff 100%);
    background-repeat: no-repeat;
}

h1 {
    color: #143F6E;
}

#fRight {
    float: right;
}

#fLeft {
    float: left;
}

.nav {
    margin: 1%;
}

.material-icons {
    color: #143F6E;
}

body {
    margin: auto;
    min-height: 100vh;
    align-items: center;
    overflow-y: auto;
}

/* index.html Web Styling */

.indexContainer {
    padding: 2%;
    height: 40%;
    width: 100%;

    font-size: 3em;
    color: #143F6E;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  
    
    text-align: center;
}

.indexContainer input {
    min-width: 20%;
    padding: 1%;
    margin: 1%;
    font-size: .5em;
}

/* audit.html Web Styling */

.auditContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    
    margin: auto;
    height: 100%;
    width: 70%;

    align-items: end;
}

.auditHopper {
    margin-right: 10%;
}

.Hopper {
    float: right;
}

/* https://www.smashingmagazine.com/2024/03/modern-css-tooltips-speech-bubbles-part1/ */
.auditHopperSpeech {
    /* triangle dimension */
    --b: 2em; /* base */
    --h: 1em; /* height */

    --c: #FFFFFF;

    padding: 2%;

    border-radius: var(--r);
    clip-path: 
        polygon(0 100%,100% 100%,100% 0,0 0,
        0 calc(50% - var(--b)/2),
        calc(-1*var(--h)) 50%,
        0 calc(50% + var(--b)/2));
    background: var(--c);
      border-image: fill 0/0/var(--h)
    conic-gradient(var(--c) 0 0);
}

.auditContainer {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;

    padding: 2%;
    min-height: 50%;
    width: 90%;

    border: ridge;
    border-radius: 2%;
    
    background-color: #ffffff;
    text-align: center;

    overflow-y: auto;
    margin: auto;
}

.auditContainer input {
    max-width: fit-content;
    max-height: fit-content;
    padding: 1%;
    text-align: center;
}

/* login.html Web Styling */

.loginContainer {
    width: 500px;
    padding: 25px;
    padding: 25px;
    border-radius: 15px;

    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 25px;
    color: #143F6E;

    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4F5D2F;
}

.loginContainer input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #4F5D2F;
    border-radius: 16px;
    font-size: 20px;
    background-color: #F8FBF4;
    color: #05172A;
    box-shadow: inset 2px 2px 5px rgba(79, 93, 47, 0.2);
}

.loginContainer input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right,  #4F5D2F, #376F26);
    color: white;
    font-family: 'Playfair Display' , serif;
    font-weight: 700;
    font-size: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease;
 }

 .loginContainer input[type="submit"]:hover {
    background: linear-gradient(to right, #376F26,  #143F6E);
    transform: scale(1.03);
  }

 .loginContainer input[type="submit"]:active {
 transform: scale(0.98);
 }

/* acctCreate.html Web Styling */

.accountContainer {
    padding: 2%;
    height: 70%;
    width: 50%;

    border: ridge;
    border-radius: 2%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    
    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;
}

.accountContainer form {
    color: #143F6E;
}

.accountContainer input {
    width: 95%;
    padding: 2%;
    margin: 2%;
}

datalist {
    display: flex;
    justify-content: space-between;
    color:#000000;
  }

/* learn.html Web Styling */

.learnContainer {
    padding: 2%;
    margin: auto;
    height: 95%;
    width: 50%;

    border: ridge;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;
}

/* previous_audits.html Web Styling */

.auditListContainer {
    padding: 2%;
    margin: auto;
    height: 60%;
    width: 50%;

    border: ridge;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;
}

.previousContainer button {
    max-width: 10%;

    border: none; 
    background-color: #ffffff; 
    color: #143F6E;

    vertical-align: sub;
}

/* settings.html Web Styling */

.settingsContainer {
    padding: 2%;
    max-height: 70%;
    width: 50%;

    border: ridge;
    border-radius: 2%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    
    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;
}

.settingsContainer form {
    color: #143F6E;
}

.settingsContainer input {
    width: 95%;
    padding: 2%;
    margin: 2%;
}

/* mobile styling */

@media (max-width: 768px) {

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #BDD4BC;
}

.material-icons {
    font-size: 24px;
    color: #143F6E;
}

.Hopper {
    width: 30%;
    max-width:280px;
    height: auto;
    margin: 0 auto 5%;
    display: block;
}

/* audit page styling */

.auditHopperSpeech {
    position: relative;
    width: 130%;
    margin: 5% auto;
    padding: 5%;
    background-color: #C8E6C9;
    color:  #1B5E20;
    border-radius: 10%;
    text-align: center;
    font-size: 100%;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    box-shadow: 0 2% 4% rgba(0, 0, 0, 0.1);
}

.auditHopperSpeech::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 50%;
    border-width: 10% 10% 0 10%;
    border-style: solid;
    border-color: #C8E6C9 transparent transparent transparent;
    }

.auditHopperSpeech p {
    margin: 0;
    line-height: 150%;
    }

.auditContainer {
    width: 90%;
    margin: 5% auto;
    padding: 5%;
    background-color:  #F1F8E9;
    border: 1% solid  #A5D6A7;
    border-radius: 5%;
     box-shadow: 0 2% 4% rgba(0, 0, 0, 0.2);
     color: #1B5E20;;
    text-align: center;
}

.auditContainer h2, .auditContainer h3 {
    font-size: 120%;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 3%;
}

.auditContainer p {
    font-size: 100%;
    font-family: 'Playfair Display', serif;
    margin: 5% 0;
}

#auditInput {
    width: 80%;
    padding: 2%;
    font-size: 90%;
    border: 1% solid #A5D6A7;
    border-radius: 5%;
    background-color: #ffffff;
    color: #1B5E20;
    font-family: 'Playfair Display' , serif;
    margin: 2% 0;
    }

#nextButton {
    width: 100%;
    padding: 3%;
    font-size: 120%;
    font-family: 'Playfair Display' , serif;
    margin: 2% 0;
    background: linear-gradient(to right,  #66BB6A,  #2E7D32);
    transition: all 0.3s ease-in-out;
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

#nextButton:hover {
    background: linear-gradient(to right, #43A047, #2E7D32);
    transform: scale(1.05);
    }

.auditHelp {
    margin: 5% auto;
    width: 90%;
    text-align: center;
}

.auditHelp button {
    width: 100%;
    padding: 5%;
    font-size: 100%;
    font-family: 'Playfair Display' , serif;
    background-color: #143F6E;
    color: white;
    border: none;
    border-radius: 5%;
    box-shadow: 0 2% 4% rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.auditHelp button:hover {
    background-color: #66BB6A;
    }

#helpContent {
    width: 100%;
    margin-top: 5%;
    padding: 5%;
    background-color: #f9f9f9;
    border-radius: 5%;
    font-size: 100%;
    font-family: 'Playfair Display' , serif;
     box-shadow: 0 2% 4% rgba(0, 0, 0, 0.1);
    }

/* home page */
.indexContainer {
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-weight: 1000;
    color: #04340C;
    font-size: clamp(1.5em, 3vw, 2.5em);
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.indexContainer input[type= "submit"] {
display:inline-block;
font-family: 'Playfair Display', serif;
font-weight: 700;
font-size: clamp(1.2em, 2vw, 1.5em);
color: white;
width:80%;
max-width: 300px;
padding: 15px 30px;
background-color:  #376F26;
border: none;
border-radius: 8px;
margin-top: 30px;
cursor: pointer;
box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
transition: background-color 0.3s ease, transform 0.2s ease;
}

.indexContainer input[type="Submit"]:hover {
background-color: #376F26;
transform: scale(1.03);
}

/* smaller mobile devices */
@media (max-width:480px) {
.Hopper{
width: 90%;
}

.indexContainer input[type="submit"] {
font-size:1.2em;
}
}

/* tablets */

@media (min-width: 600px) and (max-width:768px) {
.Hopper{
width: 60%;
}
.indexContainer input[type="submit"]{
font-size:1.5em;
}
}

@media (max-width: 600px) {
    .loginContainer {
    width: 85%;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    }
    }
    

}