/* 
Pale Green - #BDD4BC
Moss Green - #4F5D2F
Pale Blue - #C1D1E4
Slate Blue - #545E75
Mid Blue - #143F6E
Dark Blue - #05172A
*/

/* General Styling rules used through all the html pages */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

html {
    background: linear-gradient(to bottom, #BDD4BC 0%, #ffffff 100%);
    background-repeat: no-repeat;
}

h1 {
    color: #143F6E;
}

header {
    width: 100%;
    background-color: #BDD4BC;
    padding-top: .5em;
}

#fLeft {
    float: left;
    width: 5em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 2em;
    padding: 0 1%;
    background-color: #BDD4BC;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 2em;
    padding: 0 1%;
    background-color: #BDD4BC;
}

.nav a {
    color: #143F6E;
    text-decoration: none;
}

.nav .navRight {
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

.nav .navRight {
    display: flex;
    gap: 1rem;
}

body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-y: auto;
}

/* index.html Web Styling */

.indexContainer {
    padding: 2%;
    height: 40%;
    width: 100%;

    font-size: 3em;
    color: #143F6E;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.indexContainer input {
    min-width: 20%;
    padding: 1%;
    margin: 1%;
    font-size: .5em;
}

/* audit.html Web Styling */

.auditContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;

    margin: auto;
    height: 100%;
    width: 70%;

    align-items: end;
}

.auditContainer {
    padding: 2%;
    min-height: 50%;
    width: 90%;

    border: ridge;
    border-radius: 2em;

    background-color: #ffffff;
    text-align: center;

    overflow-y: auto;
    margin: auto;
}

.auditContainer input {
    max-width: fit-content;
    max-height: fit-content;
    padding: 1%;
    text-align: center;
}

.auditInput  {
    max-width: fit-content;
    max-height: fit-content;
    padding: 1%;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}

/* Audit input */

#auditInput{
    transform:translatex(314px) translatey(-12px);
}
/* Progress tracker styles */
.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    margin-top: 20px;
}
  
  .progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #66bb6a, #a3d1a6); /* vibrant green gradient */
    transition: width 0.5s ease-in-out;
  }
  
  #progress-text {
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    color: #000000;
  }
  
/* login.html Web Styling */

.loginContainer {
    width: 80%;
    padding: 5%;
    border-radius: 2em;

    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #143F6E;

    background-color: #ffffff;
    box-shadow: 0px 0.5vw 1vw rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4F5D2F;
}

.loginContainer input {
    width: 90%;
    padding: 1rem;
    margin: 1rem 0;
    border: 0.2rem solid #4F5D2F;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: #F8FBF4;
    color: #05172A;
    box-shadow: inset 0.15rem 0.15rem 0.4rem rgba(79, 93, 47, 0.2);
}

.loginContainer input[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    background: linear-gradient(to right, #4F5D2F, #376F26);
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease;
}

.loginContainer input[type="submit"]:hover {
    background: linear-gradient(to right, #376F26, #143F6E);
    transform: scale(1.03);
}

.loginContainer input[type="submit"]:active {
    transform: scale(0.98);
}

/* acctCreate.html Web Styling */

.accountContainer {
    padding: 2%;
    height: 80%;
    width: 50%;

    border: ridge;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;
}

.accountContainer form {
    color: #143F6E;
}

.accountContainer input {
    width: 95%;
    padding: 2%;
    margin: 2%;
}

datalist {
    display: flex;
    justify-content: space-between;
    color: #000000;
}

/* learn.html Web Styling */

.learnContainer {
    padding: 2%;
    margin: auto;
    height: 80%;
    width: 60%;

    border: ridge;
    border-radius: 5%;
    border-radius: 5%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;
}

/* previous_audits.html Web Styling */

.auditListContainer {
    padding: 2%;
    margin: auto;
    height: 60%;
    width: 50%;

    border: ridge;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;
}

.previousContainer button {
    max-width: 10%;

    border: none;
    background-color: #ffffff;
    color: #143F6E;

    vertical-align: sub;

    overflow: auto;

    overflow: auto;
}

/* settings.html Web Styling */

.settingsContainer {
    padding: 2%;
    max-height: 95%;
    width: 50%;

    border: ridge;
    border-radius: 2em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;

    margin-top: 1em;

    margin-top: 1em;
}

.settingsContainer form {
    color: #143F6E;
}

.settingsContainer input {
    width: 95%;
    padding: 2%;
    margin: 2%;
}

.settingsContainer .changePassword {
    display: flex;
    justify-content: center;
    width: 100%;
}

.settingsContainer .changePassword a {
    color: #143F6E;
}

/* search.html Web Styling */

.searchContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;

    margin: auto;
    height: 100%;
    width: 70%;

    align-items: end;
}

.searchHopper {
    margin-right: 10%;
}

.searchContainer {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;

    padding: 2%;
    min-height: 50%;
    width: 90%;

    border: ridge;
    border-radius: 2em;

    background-color: #ffffff;
    text-align: center;

    overflow-y: auto;
    margin: auto;
}

.searchContainer input {
    max-width: fit-content;
    max-height: fit-content;
    padding: 1%;
    text-align: center;
}

/* troubleshooting.html Web Styling */

.troubleshootingContent {
    margin: auto;
    width: 70%;
}

.troubleshootingContainer {
    padding: 2%;
    min-height: 50%;
    width: 90%;

    border: ridge;
    border-radius: 2em;

    background-color: #ffffff;
    text-align: center;

    overflow-y: auto;
    margin: auto;
    margin-top: 5%;
    margin-top: 5%;
}

.troubleshootingContainer input {
    max-width: fit-content;
    max-height: fit-content;
    padding: 1%;
    text-align: center;
}

.please {
    margin: auto;
}

/* changePassword.html Web Styling */

.changePasswordContainer {
    padding: 2%;
    max-height: 95%;
    width: 50%;

    border: ridge;
    border-radius: 2em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;

    margin-top: 1em;
}

.changePasswordContainer form {
    color: #143F6E;
}

.changePasswordContainer input {
    width: 95%;
    padding: 2%;
    margin: 2%;
}

.changePasswordContainer a {
    width: 95%;
    padding: 2%;
    margin: 2%;
}

/* changePassword.html Web Styling */
.changePasswordContainer {
    padding: 2%;
    max-height: 95%;
    width: 50%;

    border: ridge;
    border-radius: 2em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffff;
    text-align: left;

    overflow-y: auto;

    margin-top: 1em;
}

.changePasswordContainer form {
    color: #143F6E;
}

.changePasswordContainer input {
    width: 95%;
    padding: 2%;
    margin: 2%;
}

.changePasswordContainer a {
    width: 95%;
    padding: 2%;
    margin: 2%;
}

/* mobile styling */

@media (max-width: 768px) {

    #fLeft {
        float: left;
        width: 1em;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2%;
        background-color: #BDD4BC;
    }

    .nav .navRight {
        gap: 0;
    }

    .nav .navRight {
        gap: 0;
    }

    .material-icons {
        font-size: 1.5rem;
        color: #143F6E;
    }

    /* index.html(homepage) */

    .Hopper {
        width: 50% !important;
        max-width: 280px !important;
        height: auto;
        display: block;
        margin: 0 auto 1.5rem auto;
    }

    .indexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4%;
        font-family: 'Playfair Display', serif;
        font-weight: 1000;
        color: #04340C;
        font-size: clamp(1.5em, 3vw, 2.5em);
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }


    .indexContainer input[type="submit"] {
        display: inline-block;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: clamp(1.2em, 2vw, 1.5em);
        color: white;
        width: 100%;
        max-width: 300px;
        padding: 1rem 2rem;
        background-color: #376F26;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1.5rem;
        cursor: pointer;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

.indexContainer input[type="Submit"]:hover {
    background-color: #376F26;
    transform: scale(1.03);
}

    /* audit page styling */

.auditContainer {
    width: 100%;
    max-width: 90vw;
    margin: auto;
    padding: 5%;
    background-color: white;
    border: 0.1rem solid  #A5D6A7;
    border-radius: 5%;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
    color: #1B5E20;;
    text-align: center;

    display: flex;
        flex-direction: column;
        align-items: center;

    }

    .auditContainer h2,
    .auditContainer h3 {
        font-size: 1.2rem;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        margin-bottom: 3%;
    }

    .auditContainer p {
        font-size: 1rem;
        font-family: 'Playfair Display', serif;
        margin: 5% 0;
    }

    #auditInput {
        width: 85%;
        padding: 3%;
        font-size: 1rem;
        border: 1% solid #A5D6A7;
        border-radius: 5%;
        background-color: #ffffff;
        color: #1B5E20;
        font-family: 'Playfair Display', serif;
        margin: 2% 0;
    }

    #nextButton {
        width: 100%;
        padding: 3%;
        font-size: 120%;
        font-family: 'Playfair Display', serif;
        margin: 2% 0;
        background: linear-gradient(to right, #66BB6A, #2E7D32);
        transition: all 0.3s ease-in-out;
        color: white;
        border: none;
        border-radius: 5%;
        cursor: pointer;
    }

    #nextButton:hover {
        background: linear-gradient(to right, #43A047, #2E7D32);
        transform: scale(1.05);
    }

    .auditHelp {
        margin: 5% auto;
        width: 90%;
        text-align: center;
    }

    .auditHelp button {
        width: 100%;
        padding: 5%;
        font-size: 100%;
        font-family: 'Playfair Display', serif;
        background-color: #143F6E;
        color: white;
        border: none;
        border-radius: 5%;
        box-shadow: 0 2% 4% rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .auditHelp button:hover {
        background-color: #66BB6A;
    }

    #helpContent {
        width: 100%;
        margin-top: 5%;
        padding: 5%;
        background-color: #f9f9f9;
        border-radius: 5%;
        font-size: 100%;
        font-family: 'Playfair Display', serif;
        box-shadow: 0 2% 4% rgba(0, 0, 0, 0.1);
    }


    /* accCreate.html */
    .accountContainer {
        width: 90%;
        max-width: 30rem;
        padding: 5%;
        border-radius: 1rem;
        background-color: BDD4BC;
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
        text-align: center;
        margin: 5% auto;
    }

    .accountContainer label {
        display: block;
        font-weight: bold;
        color: #4F5D2F;
        margin-top: 0.5rem;
        text-align: center;
        font-size: 1rem;
    }

    .accountContainer input[type="submit"] {
        width: 100%;
        padding: 1.2rem;
        font-size: 1.2rem;
        font-weight: bold;
        background: linear-gradient(to right, #4F5D2F, #376F26);
        color: white;
        border: none;
        border-radius: 0.5rem;
        margin-top: 2rem;
        cursor: pointer;
        transition: background 0.3s ease-in-out, transform 0.2s ease;
    }

    .accountContainer input[type="submit"]:hover {
        background: linear-gradient(to right, #376F26, #143F6E);
        transform: scale(1.03);
    }

    .accountContainer a {
        display: block;
        margin-top: 1.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: #143F6E;
        text-decoration: none;
    }

    .accountContainer a:hover {
        text-decoration: underline;
        color: #545E75;
    }

    .accountContainer input[type="range"] {
        width: 100%;
        margin: 1.5rem 0;
        accent-color: #4F5D2F;
    }

    datalist {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: bold;
        color: #4F5D2F;
    }

    /* setting.html page */

    .accountContainer input[type="range"] {
        width: 100%;
        margin: 1.5rem 0;
        accent-color: #4F5D2F;
    }

    .settingsContainer label {
        display: block;
        font-weight: bold;
        color: #4F5D2F;
        margin-top: 1rem;
        text-align: center;
        font-size: 1rem;
    }

    /* setting.html page */

    .settingsContainer input[type="submit"]:hover {
        background: linear-gradient(to right, #376F26, #143F6E);
        transform: scale(1.03);
    }

    .settingsContainer input[type="range"] {
        width: 100%;
        margin: 1.5rem 0;
        accent-color: #4F5D2F;
    }

    datalist {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: bold;
        color: #4F5D2F;
    }

/* troubleshooting.html */

.troubleshootingContent {
    margin-top: -35%;
}

.troubleshootingContainer {
    width: 103%;
    max-width: 90vw;
    margin: auto;
    padding: 5%;
    background-color: white;
    border: 0.1rem solid  #A5D6A7;
    border-radius: 5%;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
    color: #1B5E20;;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.troubleshootingContainer input[type="text"] {
    width: 85%;
    padding: 3%;
    font-size: 1rem;
    border: 1% solid  #A5D6A7;
    border-radius: 5%;
    background-color: white;
    color: #1B5E20;
    font-family: 'Playfair Display' , serif;
    margin: 2% 0;
}

.troubleshootingContainer input[type="submit"] {
    width: 100%;
    padding: 3%;
    font-size: 1rem;
    font-family: 'Playfair Display' , serif;
    margin: 2% 0;
    background: linear-gradient(to right, #66BB6A, #2E7D32);
    transition: all 0.3s ease-in-out;
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.troubleshootingContainer input[type="submit"]:hover {
     background: linear-gradient(to right, #43A047, #2E7D32);
     transform: scale(1.05);
}

/* previous_audits.html */
.auditListContainer {
    width: 80%;
    margin: auto;
    padding: 5%;
    background-color: white;
    border: 0.1rem solid #A5D6A7;
    border-radius: 5%;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
    color:  #1B5E20;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.auditListContainer h1 {
    font-size: 2rem;
    color: #4F5D2F;
    font-family: 'Playfair Display' , serif;
    font-weight: 1000;
    margin-bottom: 2%;
}

.auditListContainer ul {
    width: 85%;
    padding: 3%;
    font-size: 1rem;
    font-family: 'Playfair Display' , serif;
    color: #4F5D2F;
    font-weight: 800%;
}

/* learn.html framework page */
.learnContainer {
    width: 103%;
    max-width: 90vw;
    margin: auto;
    padding: 5%;
    background-color: white;
    border: 0.1rem solid #A5D6A7;
    border-radius: 5%;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
    color: #1B5E20;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.learnContainer h1 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #4F5D2F;
    margin-bottom: 3%;
}

.learnContainer select {
    width: 85%;
    padding: 3%;
    font-size: 1rem;
    border: 1% solid  #A5D6A7;
    border-radius: 5%;
    background-color: white;
    font-family: 'Playfair Display' , serif;
    margin: 2% 0;
}

#frameworkDetails {
    width: 85%;
    font-size: 1rem;
    color: #4F5D2F;
    padding: 3%;
    background-color: white;
    font-family: 'Playfair Display' , serif;
    text-align: center;
}

/* search.html */

.searchContainer {
    width: 100%;
    margin: auto;
    padding: 5%;
    background-color: white;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
    color: #4F5D2F;
    text-align: center;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer input[type="text"]{
    width: 85%;
    padding: 3%;
    font-size: 1rem;
    border: 1% solid  #A5D6A7;
    border-radius: 5%;
    background-color: white;
    color: #1B5E20;
    font-family: 'Playfair Display' , serif;
    margin: 2% 0;
}

.searchContainer input[type="submit"]{
    display:inline-block;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: clamp(1.2em, 2vw, 1.5em);
    color: white;
    width:100%;
    max-width: 300px;
    padding: 1rem 2rem;
    background-color:  #376F26;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.searchContainer input[type="submit"]:hover {
    background-color: #376F26;
    transform: scale(1.03);
}
/* report.html */

}
/* tablets */

    @media (min-width: 600px) and (max-width:768px) {
        .Hopper {
            width: 60%;
        }


        .indexContainer input[type="submit"] {
            font-size: 1.5em;
        }
    }

    @media (max-width: 600px) {
        .loginContainer {
            width: 85%;
            padding: 1.25rem;
            border-radius: 0.75rem;
            font-size: 1.125rem;
        }
    }


