<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>on-it</title>
    <link rel="on-it icon" href="../static/Media/onitIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Link json file-->
    <link rel="Steps-Json" href="../static/auditsteps.json" type="application/json" />
    <script src="../static/script.js"></script>
  </head>

<header>
    <nav class="nav">
      <a href="{{ url_for('index') }}"><i class="material-icons" id="fLeft">home</i></a>
      <a href="{{ url_for('login') }}"><i class="material-icons" id="fRight">person</i></a>
      <a href="{{ url_for('settings') }}"><i class="material-icons" id="fRight">settings</i></a>
    </nav>
</header>

  <body class="body"> 
    <div class="auditContent">
      <div class="auditHopper">
        <image src="../static/Media/Hopper.png" alt="on-it mascot Hopper" class="Hopper" height="100">
      </div>
      <div class="auditHopperSpeech">
        <p>Hello and welcome to your audit, follow the instructions below and insert the proper information!</p>
      </div>
      <div class="auditContainer">
        <!-- take the json file and dynamically have it display information  -->
        <!-- Step name-->
        <h2 id="stepName"></h2>
        <br>
        <br>
        <!--Instruction-->
        <h3 id="instruction"></h3>
        <br>
        <br>
        <!--Explanation-->
        <p id="explanation"></p>
        <br>
        <br>
        <!--Example-->
        <p id="example"></p>
        <br>
        <br>
        <input type="text" id="auditInput" placeholder="Enter Information Here">
        <input type="button" id="nextButton" value="Next Step">
      </div>
    </div>
  </body>
</html>