<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Learn More</title>
  <link rel="on-it icon" href="../static/Media/onitIcon.png" type="image/x-icon" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined">
  <script src="../static/script.js"></script>
</head>

<header>
  <div class="nav">
    <a href="{{ url_for('index') }}"><i class="material-icons">home</i></a>
    {% if current_user.is_authenticated %}
    <span class="nav-user">Welcome, {{ current_user.username }}!</span>
    <div class="navRight">
      <a href="{{ url_for('learn') }}"><i class="material-icons">description</i></a>
      <a href="{{ url_for('previous_audits') }}"><i class="material-icons">history</i></a>
      <a href="{{ url_for('troubleshooting') }}"><i class="material-symbols-outlined">build_circle</i></a>
      <a href="{{ url_for('settings') }}"><i class="material-icons">settings</i></a>
      <a href="{{ url_for('logout') }}"><i class="material-icons">exit_to_app</i></a>
      {% else %}
      <div class="navRight">
        <a href="{{ url_for('learn') }}"><i class="material-icons">description</i></a>
        <a href="{{ url_for('troubleshooting') }}"><i class="material-symbols-outlined">build_circle</i></a>
        <a href="{{ url_for('login') }}"><i class="material-icons">person</i></a>
        {% endif %}
      </div>
    </div>
</header>

<body>
  <div class="learnContainer">
    <h1>Select an Audit Framework</h1>
    <select id="frameworkDropdown">
      <option value="">--Select a Framework--</option>
    </select>
    <br>
    <br>
    <hr>
    <div id="frameworkDetails"></div>
  </div>
</body>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    fetchFrameworks();
  });
</script>

</html>