<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Learn More</title>
  <link rel="on-it icon" href="../static/Media/onitIcon.png" type="image/x-icon" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined">
  <script src="../static/script.js"></script>
</head>

<header>
  <nav class="nav">
    <a href="{{ url_for('index') }}"><i class="material-icons" id="fLeft">home</i></a>

    {% if current_user.is_authenticated %}
      <span class="nav-user">Welcome, {{ current_user.username }}!</span>
      <a href="{{ url_for('logout') }}"><i class="material-icons" id="fRight">exit_to_app</i></a>
      <a href="{{ url_for('settings') }}"><i class="material-icons" id="fRight">settings</i></a>
    {% else %}
      <a href="{{ url_for('login') }}"><i class="material-icons" id="fRight">person</i></a>
    {% endif %}
    
    <a href="{{ url_for('troubleshooting') }}"><i class="material-symbols-outlined" id="fRight">build_circle</i></a>
    <a href="{{ url_for('previous_audits') }}"><i class="material-icons" id="fRight">history</i></a>
    <a href="{{ url_for('learn') }}"><i class="material-icons" id="fRight">description</i></a>
  </nav>
</header>

<body>
  <div class="learnContainer">
    <h1>Select an Audit Framework</h1>
    <select id="frameworkDropdown">
      <option value="">--Select a Framework--</option>
    </select>
    <br>
    <br>
    <hr>
    <div id="frameworkDetails"></div>
  </div>
</body>

</html>